[user]
	name = Karolis Stasaitis
	email = contact@carlossless.io
  signingKey = 30BBC79DB4891D4D0CC9718A2EECC8FA302A72F5!

[core]
  excludesfile = ~/.gitignore.global
  ignorecase = false

[push]
  default = current

[merge]
  tool = opendiff
[diff]
  tool = vimdiff
[mergetool]
  prompt = false
[difftool]
  prompt = false

[status]
  submoduleSummary = true

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  repull = pull --rebase
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  unstage = reset --

  # commonly used
  latest-branches = ! git reflog | egrep -io \"moving from ([^[:space:]]+)\" | awk '{ print $3 }' | awk ' !x[$0]++' | egrep -v '^[a-f0-9]{40}$' | head -n5
  rpd = pull origin develop --rebase
  pu = push -u
  undo-commit = reset --hard "HEAD^"
  stage-commit = reset --soft "HEAD^"
  bs = branch --sort=-committerdate

  # hub extensions
  cpr = ! hub pull-request # create pull-request
  dpr = cpr -d # create a draft pull-request
  pcp = ! git pu && git cpr # push and create pull-request

  # releases
  release-date = ! git tag release-$(date +%Y-%m-%d)
  release-datetime = ! git tag release-$(date +%Y-%m-%d.%H-%M)

  # revert only file permission changes
  permission-reset = ! git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply

[credential]
  helper = osxkeychain
#[commit]
#  gpgsign = true
#[gpg]
#  program = gpg

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process

[includeIf "gitdir:Projects/heyjobs/**"]
 path = ~/dotfiles/git/heyjobs.gitconfig

[includeIf "gitdir:Projects/delanoir/**"]
 path = ~/dotfiles/git/delanoir.gitconfig
