[user]
	name = Karolis Stasaitis
	email = contact@carlossless.io

[core]
  excludesfile = ~/.gitignore.global
  ignorecase = false

[push]
  default = current

[merge]
  tool = opendiff
[diff]
  tool = vimdiff
[mergetool]
  prompt = false
[difftool]
  prompt = false

[status]
  submoduleSummary = true

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  repull = pull --rebase
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  unstage = reset --

  # commonly used
  rpd = pull origin develop --rebase
  pu = push -u
  undo-commit = reset --hard "HEAD^"
  stage-commit = reset --soft "HEAD^"
  bs = branch --sort=-committerdate

  # hub extensions
  pr = pull-request
  purr = ! git pu && hub pull-request

  # revert only file permission changes
  permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply

[credential]
  helper = osxkeychain
[commit]
  gpgsign = true
[gpg]
  program = gpg

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process

[includeIf "gitdir:Projects/HeyJobs/**"]
  path = ~/dotfiles/git/heyjobs.gitconfig

[includeIf "gitdir:Projects/Delanoir/**"]
  path = ~/dotfiles/git/delanoir.gitconfig
